This notebook uses yfinance to get stock information and visualize different aspects of it using Seaborn and Matplotlib

We'll look into few ways of analyzing the risk of a stock based on its previous performance history

We'll also be predicting future stock prices through a Long Short Term Memory (LSTM) method

In [1]:
!pip install -q yfinance

In [2]:
import yfinance as yf
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# Define start and end dates
end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

tickers = ['AAPL', 'GOOG', 'MSFT', 'AMZN']
company_names = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for ticker in tickers:
    globals()[ticker] = yf.download(ticker, start, end)
    
company_list = [AAPL, GOOG, MSFT, AMZN]

for company, company_name in zip(company_list, company_names):
    company["company_name"] = company_name
    
df = pd.concat(company_list, axis=0)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
#Get Descriptive Statistics
AAPL.describe()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
count,252.000000,252.000000,252.000000,252.000000,252.000000,2.520000e+02
mean,200.102411,200.661071,202.323334,198.826468,200.554722,5.764671e+07
std,21.634577,21.468145,21.678147,21.098120,21.451718,3.032860e+07
min,164.405121,165.000000,166.399994,164.080002,165.350006,2.404830e+07
25%,183.452488,184.224998,185.134995,182.204998,183.827499,4.228192e+07
50%,193.084076,193.959999,195.160004,192.900002,194.169998,5.083035e+07
75%,222.487720,222.732502,225.382504,221.174999,223.665001,6.372982e+07
max,236.220108,236.479996,237.490005,234.449997,236.479996,3.186799e+08

In [4]:
#Information about DataFrame
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2023-11-13 00:00:00+00:00 to 2024-11-12 00:00:00+00:00
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  252 non-null    float64
 1   (Close, AAPL)      252 non-null    float64
 2   (High, AAPL)       252 non-null    float64
 3   (Low, AAPL)        252 non-null    float64
 4   (Open, AAPL)       252 non-null    float64
 5   (Volume, AAPL)     252 non-null    int64
 6   (company_name, )   252 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 15.8+ KB